body {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Consolas;
    color: #C0C0C0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.flex-container {
    display: flex;
    border: solid 3px lightgrey;
}

.ProjectListItem {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 120px;
}

.ProjectListImage {
    width: 100px;
    height: 100px;
    background-color: grey;
}

.caption {
    display: block;
}