@model CSLibrary.Models.Project
<div class="row">
    <div class="container">
            <h4>Track Information</h4>
            <hr />
            <div class="col-lg-6">
                <form enctype="multipart/form-data" action="/api/v1/CreateProject" method="POST">
                    Project Name: <input type="text" name="Name" />
                    Type: <select asp-for="ProjectType" asp-items="@Html.GetEnumSelectList<CSLibrary.Models.ProjectType>()" name="ProjectType"></select>
                    Picture: <input type="file" asp-for="Picture" name="Picture"/>
                    <input type="submit" value="Save" class="btn btn-default" />
                </form>
            </div>
            <div class="col-lg-6">
                Blah
            </div>
    </div>
</div>